[supervisord]
logfile=%(ENV_LOG_DIR)s/queue-manager.log
pidfile=%(ENV_VAR)s/pid/queue-manager.pid

[inet_http_server]
port=127.0.0.1:__QUEUECTL_PORT__
username=__QUEUECTL_USER__
password=__QUEUECTL_SECRET__

[supervisorctl]
serverurl=http://localhost:__QUEUECTL_PORT__
username=__QUEUECTL_USER__
password=__QUEUECTL_SECRET__

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program:general]
process_name=%(ENV_APP_NAME)s_queue_%(program_name)s_%(process_num)02d
environment=PATH="%(ENV_OPT)s/php/bin:%(ENV_PATH)s"
directory=%(ENV_SRC)s
command=php artisan queue:work
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/supervisord.log
stopwaitsecs=3
priority=6

[program:search]
process_name=%(ENV_APP_NAME)s_queue_%(program_name)s_%(process_num)02d
environment=PATH="%(ENV_OPT)s/php/bin:%(ENV_PATH)s"
directory=%(ENV_SRC)s
command=php artisan queue:work search --queue=search
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/search.log
stopwaitsecs=3
priority=7

[program:meta]
process_name=%(ENV_APP_NAME)s_queue_%(program_name)s_%(process_num)02d
environment=PATH="%(ENV_OPT)s/php/bin:%(ENV_PATH)s"
directory=%(ENV_SRC)s
command=php artisan queue:work meta --queue=meta
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/meta.log
stopwaitsecs=3
priority=8

[program:transfer]
process_name=%(ENV_APP_NAME)s_queue_%(program_name)s_%(process_num)02d
environment=PATH="%(ENV_OPT)s/php/bin:%(ENV_PATH)s"
directory=%(ENV_SRC)s
command=php artisan queue:work transfer --queue=transfer --timeout=3600
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=2
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/transfer.log
stopwaitsecs=3
priority=9

[program:download]
process_name=%(ENV_APP_NAME)s_queue_%(program_name)s_%(process_num)02d
environment=PATH="%(ENV_OPT)s/php/bin:%(ENV_PATH)s"
directory=%(ENV_SRC)s
command=php artisan queue:work download --queue=download --timeout=172800
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=8
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/supervisord.log
stopwaitsecs=3
priority=10

[program:longruns]
process_name=%(ENV_APP_NAME)s_queue_%(program_name)s_%(process_num)02d
environment=PATH="%(ENV_OPT)s/php/bin:%(ENV_PATH)s"
directory=%(ENV_SRC)s
command=php artisan queue:work longruns --queue=longruns --timeout=86400
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/longruns.log
stopwaitsecs=3
priority=11

[program:rabbitmq]
process_name=%(ENV_APP_NAME)s_queue_%(program_name)s_%(process_num)02d
environment=PATH="%(ENV_DIR)s/bin:%(ENV_PATH)s",RABBITMQ_CONFIG_FILE="%(ENV_ETC)s/rabbitmq/rabbitmq.conf",RABBITMQ_NODENAME="%(ENV_RABBITMQ_NODENAME)s",RABBITMQ_NODE_PORT="%(ENV_RABBITMQ_PORT)s",RABBITMQ_USERNAME="%(ENV_RABBITMQ_USERNAME)s",RABBITMQ_PASSWORD="%(ENV_RABBITMQ_PASSWORD)s",RABBITMQ_VHOST="%(ENV_RABBITMQ_VHOST)s",RABBITMQ_LOG_BASE="%(ENV_LOG_DIR)s/rabbitmq",RABBITMQ_BASE="%(ENV_VAR)s/rabbitmq/%(ENV_RABBITMQ_NODENAME)s"
directory=%(ENV_OPT)s/rabbitmq
command=bazel run broker
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/rabbitmq.log
stopwaitsecs=3
priority=12
