[supervisord]
logfile=%(ENV_LOG_DIR)s/queue-manager.log
pidfile=%(ENV_VAR)s/pid/queue-manager.pidfile

[program:mcol-general-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_logfile=%(ENV_LOG_DIR)s/supervisord.log
stdout_logfile_maxbytes=0
stopwaitsecs=3
priority=6

[program:mcol-search-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work search --queue=search
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_logfile=%(ENV_LOG_DIR)s/search.log
stdout_logfile_maxbytes=0
stopwaitsecs=3
priority=7

[program:mcol-transfer-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work transfer --queue=transfer --timeout=3600
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=2
numprocs_start=1
redirect_stderr=true
stdout_logfile=%(ENV_LOG_DIR)s/transfer.log
stdout_logfile_maxbytes=0
stopwaitsecs=3
priority=8

[program:mcol-download-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work download --queue=download --timeout=172800
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=12
numprocs_start=1
redirect_stderr=true
stdout_logfile=%(ENV_LOG_DIR)s/supervisord.log
stdout_logfile_maxbytes=0
stopwaitsecs=3
priority=9

[program:mcol-longruns-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work longruns --queue=longruns --timeout=86400
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_logfile=%(ENV_LOG_DIR)s/longruns.log
stdout_logfile_maxbytes=0
stopwaitsecs=3
priority=10
