[supervisord]
logfile=%(ENV_LOG_DIR)s/queue-manager.log
pidfile=%(ENV_VAR)s/pid/queue-manager.pid

[inet_http_server]
port=127.0.0.1:__QUEUECTL_PORT__
username=__QUEUECTL_USER__
password=__QUEUECTL_SECRET__

[supervisorctl]
serverurl=http://localhost:__QUEUECTL_PORT__
username=__QUEUECTL_USER__
password=__QUEUECTL_SECRET__

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program:mcol-general-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/supervisord.log
stopwaitsecs=3
priority=6

[program:mcol-search-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work search --queue=search
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/search.log
stopwaitsecs=3
priority=7

[program:mcol-meta-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work meta --queue=meta
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/meta.log
stopwaitsecs=3
priority=8

[program:mcol-transfer-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work transfer --queue=transfer --timeout=3600
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=2
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/transfer.log
stopwaitsecs=3
priority=9

[program:mcol-download-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work download --queue=download --timeout=172800
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=8
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/supervisord.log
stopwaitsecs=3
priority=10

[program:mcol-longruns-worker]
process_name=%(program_name)s_%(process_num)02d
command=%(ENV_OPT)s/php/bin/php %(ENV_SRC)s/artisan queue:work longruns --queue=longruns --timeout=86400
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=true
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/longruns.log
stopwaitsecs=3
priority=11
